#allBackground
{
    -fx-background-color: linear-gradient(to bottom right ,#2d2d35,#25262a);
    -fx-border-color: dimgray;
    -fx-border-width: 0.5px;

}

#logintext
{
    -fx-text-fill : white;
    -fx-font-weight: bold;
}
#loginButton
{
    -fx-text-fill: white;
    -fx-opacity: 75%;
}
#loginButton:hover
{
    -fx-text-fill: aqua;
    -fx-opacity: 100%;
    -fx-font-weight: bold;
}
#leftVBox
{
    -fx-border-width: 0px 0.5px 0px 0px;
    -fx-border-color: dimgray;
    -fx-background-color: linear-gradient(#2d2d35 0%, #2e2e31 25%,#27272a 66%, #1f1f21 99%);
}
#middleVBox
{
    -fx-border-width: 0.5px 0.5px 0px 0px;
}
#clientlist
{
    -fx-background-color: transparent;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;


}
#clientlist .list-cell
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-cell-size: 56;

}
#clientlist .list-cell:hover
{//dasd
-fx-text-fill: #0870c9;
    /*-fx-background-color: black;
    -fx-background-color: #2d2d35;*/
    -fx-background-radius: 20px 20px;

}
#clientlist .list-cell:selected
{
    -fx-text-fill: #0870c9;
}
#clientlist .scroll-bar:vertical
{
    -fx-scale-x: 0;
}
#clientlist .scroll-bar:horizontal
{
    -fx-scale-y: 0;
}
#clientlist .list-view
{
    -fx-padding: 2px;
}

#searchclient
{
    -fx-background-color: #1f1f21;
    -fx-text-fill: white;
    -fx-alignment: center;
}
#selectsearch .scroll-bar
{
    -fx-background-color: #1f1f21;
    -fx-text-fill: white;
    -fx-alignment: center;
}
#CloseButton
{
    -fx-font-size: 18px;
    -fx-text-fill:white;
    -fx-font-weight: bold;

}
#CloseButton:hover
{
    -fx-font-size: 18px;
    -fx-text-fill: aqua;
    -fx-font-weight: bold;
}

#buttonTemplate {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
#buttonTemplate:hover
{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: aqua;
    -fx-font-size: 12px;
}
#buttonTemplate Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}